/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global variables */
:root {
  --gradient: linear-gradient(to bottom, #285d85, #0f2533);
  --revGradient: linear-gradient(to top, #3a8cba, #143244);
  --white: #f0f0f0;
}

/* Body Styling */
body {
  background: var(--revGradient);
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Style for the header */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 20px;
}

/* The PFP on the top of the page */
#top-pfp {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
}

/* Navbar styling */
ul.navbar {
  display: flex;
  justify-content: flex-end;
  color: var(--white);
  list-style-type: none;
}

/* list item in navbar styling */
ul.navbar li {
  margin-right: 30px;
  font-size: 1.2rem;
}

/* navbar list items with link styling */
ul.navbar li a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Change link color on hover */
ul.navbar li a:hover {
  color: #d5d5d5;
}

/* card template styling */
.card {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(21, 50, 68, 0.4);
  padding: 30px;
  margin-bottom: 20px;
}

/* section header styling */
.sectionHeader {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

/* Bio Card */
#bio img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.bio-text {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}

/* Work Example Card */
.example-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

h3 {
  font-size: x-large;
}

.work-card {
  background: var(--gradient);
  color: var(--white);
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(68, 136, 187, 0.6);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.work-card:hover {
  transform: scale(1.05);
}

.placeholderImg {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.collabList{
  padding: 20px;
}

.collaborators {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Contact Me Card */
#contact ul {
  list-style-type: none;
  margin-left: 20px;
}

#contact li {
  margin-bottom: 10px;
}

#contact a {
  color: #3a8cba;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  header {
    font-size: 1.5rem;
  }

  #top-pfp {
    width: 40px;
    height: 40px;
  }

  ul.navbar li {
    margin-right: 20px;
    font-size: 1rem;
  }

  .card {
    padding: 20px;
  }

  #bio img {
    width: 120px;
    height: 120px;
  }

  .sectionHeader {
    font-size: 1.5rem;
  }

  .placeholderImg {
    height: 150px;
  }
}
