* {
    margin: 0;
    padding: 0;
  }
  /* global variables */
  :root {
    --gradient: linear-gradient(to bottom, rgb(40, 97, 133),rgb(15, 37, 51)  );
    --revGradient: linear-gradient(to top, rgb(58, 140, 190),rgb(20, 50, 68)  );
    --white: gainsboro;
  }
  /* Body Styling */
  body {
    background: var(--revGradient);
    padding: 10px;
  }
  /* Style for the header */
  header {
    display: flex;
    justify-content: flex-start;
    color: var(--white);
    font-size: xx-large;
  }
  /* The PFP on the top of the page */
  #top-pfp {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  /* Navbar styling */
  ul.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    color: var(--white);
  }
  /* list item in navbar styling */
  ul.navbar li {
    margin-right: 75px;
    font-size: xx-large;
    list-style-type: none;
  }
  /* navbar list items with link styling */
  ul.navbar li a {
    color: var(--white) !important;
  }
  /* makes the color white after clicking link */
  ul.navbar li a:visited {
    color: var(--white) !important;
  }
  /* card template styling */
  .card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgb(21, 50, 68);
    padding: 50px;
    margin: 20px;
  }
  /* section header styling */
  .sectionHeader {
    padding-right: 20px;
    font-size: xx-large;
  }
  /* card holding work cards invisible for formatting */
  .example-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--white);
    padding: 50px;
    margin: 20px;
  }
  /* cards that have the projects */
  .work-card {
    background: var(--gradient);
    color: var(--white);
    border-radius: 25px;
    box-shadow: 0 10px 15px grey;
    padding: 20px;
    margin: 10px;
  }
  /* makes the cards grow when hovering over them */
  .work-card:hover {
    transform: scale(1.1);
  }
  /* makes the first project bigger than the others */
  #project1 {
    font-size: xx-large;
  }
  /* puppy image */
  .placeholderImg {
    width: 200px;
    height: 200px;
  }
  /* makes the navbar shrink when screen shrinks */
  @media screen and (max-width: 845px) {
    ul.navbar li {
      font-size: small;
    }
  }
  